/* h1 properties */
h1 {
    font-family: 'Russo One', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-size: 80px; 
    text-align: center; 
    color: whitesmoke; 
    
}
/* h2 tag properties */
h2{
    font-family: 'Bangers', cursive;
    color: red; 
    font-size: 80px;
    text-align: center; 
}


   

/*image customization*/
img{
    width: 40%; 
    display: block; 
    margin: auto; 
    
    
}
/*border customization*/
.box{
    width: 40%;
    padding: 10px;
    width: 500px;
    height: 370px;
    border-style: dotted; 
    margin: auto; 
}

/*font properties for p tag */
p{
    text-align: center; 
    color: gold; 
}
/*border customization*/
.box2{
    width: 40%;
    padding: 10px;
    width: 500px;
    height: 370px;
    border-style: dotted; 
    margin: auto; 
}

/*List customization*/
ul {
    margin-left: 30%; 
    list-style-type: none; 
}

h3 {
    text-align: center; 
}